# For deploy
export AWS_PROFILE="your-profile"
export AWS_REGION="ap-northeast-1"
export AWS_DEFAULT_REGION="ap-northeast-1"

# For Local development
SERVICE="your-porject-name"
STAGE="dev"
export PRJ_PREFIX="${SERVICE}-${STAGE}"
export IS_LOCAL="True"
#export PYTHONPATH=/your-project-path/serverless
